<form class="">
    <div >
        <h3>Text utterance</h3>
        {{content}}
    </div>
    <!-- <p>
        <button *ngIf="!isAnnotator" type="submit" mat-stroked-button color="primary">
            <mat-icon>save</mat-icon> Save
        </button>
    </p> -->
</form>
