<mat-tab-group>
    <mat-tab #tab1>
        <ng-template mat-tab-label>
            <mat-icon class="sidenav-icon">record_voice_over</mat-icon> <span class="tab-header">Speech data</span>
        </ng-template>
        <ng-container *ngIf="!!applicationId && tab1.isActive">
            <app-speech [application]="application" [applicationId]="applicationId" [annotatorKey]="annotatorKey"></app-speech>
        </ng-container>
    </mat-tab>
    <mat-tab #tab2>

        <ng-template mat-tab-label>
            <mat-icon class="sidenav-icon">notes</mat-icon> <span class="tab-header">Text data</span>
        </ng-template>
        <ng-container *ngIf="!!applicationId && tab2.isActive">
            <app-text [application]="application" [applicationId]="applicationId" [annotatorKey]="annotatorKey"></app-text>
        </ng-container>
    </mat-tab>
    <mat-tab #tab3>
        <ng-template mat-tab-label>
            <mat-icon class="sidenav-icon">storage</mat-icon> <span class="tab-header">Models</span>
        </ng-template>
        <ng-container *ngIf="!!applicationId && tab3.isActive">
          <app-models [annotatorKey]="annotatorKey" [application]="application" [applicationId]="applicationId"></app-models>
        </ng-container>
    </mat-tab>
</mat-tab-group>
