<div *ngIf="!!ApplicationInfo">
    <mat-accordion>
        <mat-expansion-panel #tab>
            <mat-expansion-panel-header>
                <mat-panel-title>
                    <mat-icon>edit</mat-icon> <span style="padding-left: 10px; font-size: 18px;">Edit application</span>
                </mat-panel-title>
                <mat-panel-description>
                    {{ApplicationInfo.name}}
                </mat-panel-description>
            </mat-expansion-panel-header>
            <form (ngSubmit)="OnEdit(ApplicationInfo)" class="form" [class.disabled]="!EditMode">
                <h3 *ngIf="!!errorMessage" style="background-color: #ffbaba;color:#ad0202; padding: 10px 0px">
                    {{errorMessage}}
                </h3>
                <p>
                    <mat-form-field class="full-row">
                        <mat-label>Id</mat-label>
                        <input matInput type="text" readonly class="disabled" placeholder="Id"
                            [(ngModel)]="ApplicationInfo._id" name="_id">
                    </mat-form-field>
                </p>
                <p>
                    <mat-form-field class="">
                        <mat-label>Annotator key</mat-label>
                        <input matInput placeholder="annotator key" [readonly]="!EditMode" [class.disabled]="!EditMode"
                            [(ngModel)]="ApplicationInfo.annotator_key" name="annotator_key">
                    </mat-form-field>
                    <mat-form-field class="">
                        <mat-label>Application key</mat-label>
                        <input matInput placeholder="app key" [readonly]="!EditMode" [class.disabled]="!EditMode"
                            [(ngModel)]="ApplicationInfo.app_key" name="app_key">
                    </mat-form-field>
                    <mat-form-field class="">
                        <mat-label>Share key</mat-label>
                        <input matInput placeholder="share key" [readonly]="!EditMode" [class.disabled]="!EditMode"
                            [(ngModel)]="ApplicationInfo.share_key" name="share_key">
                    </mat-form-field>
                </p>
                <p>
                    <mat-form-field class="">
                        <mat-label>Name</mat-label>
                        <input matInput placeholder="Name" [readonly]="!EditMode" [class.disabled]="!EditMode"
                            [(ngModel)]="ApplicationInfo.name" name="name">
                    </mat-form-field>
                    <mat-form-field>
                        <mat-label>Language</mat-label>
                        <input type="text" matInput name="language" [readonly]="!EditMode" [class.disabled]="!EditMode"
                            [formControl]="autoCompleteControl" [matAutocomplete]="auto"
                            [(ngModel)]="ApplicationInfo.language">
                        <mat-autocomplete #auto="matAutocomplete">
                            <mat-option *ngFor="let option of filteredOptions | async" [value]="option.code">
                                {{option.name}} ({{option.code}})
                            </mat-option>
                        </mat-autocomplete>
                    </mat-form-field>
                    <mat-form-field class="full-row">
                        <mat-label>Description</mat-label>
                        <input matInput placeholder="Description" [readonly]="!EditMode" [class.disabled]="!EditMode"
                            [(ngModel)]="ApplicationInfo.description" name="description" />
                    </mat-form-field>
                </p>
                <p>
                    <button *ngIf="EditMode" mat-stroked-button type="submit" color="primary">
                        <mat-icon>save</mat-icon> Save
                    </button>
                    <button *ngIf="!EditMode" (click)="EditMode = !EditMode" mat-stroked-button type="button"
                        color="Accent">
                        <mat-icon>edit</mat-icon> Edit
                    </button>
                    <button (click)="OnApplicationDelete()" mat-stroked-button type="button" color="warn">
                        <mat-icon>delete</mat-icon> Delete
                    </button>
                </p>
            </form>
        </mat-expansion-panel>
    </mat-accordion>

    <div class="space"></div>
    <mat-form-field style="width: 600px;" class="">
        <mat-label>Shareable URL for Data Annotators</mat-label>
        <input matInput placeholder="Shareable URL for Data Annotators" [readonly]="true" [class.disabled]="true"
            [value]="appService.CreateResourceUrl(applicationId,ApplicationInfo.annotator_key, ApplicationInfo.app_key)" name="url">
    </mat-form-field>
    <mat-button-toggle-group name="fontStyle" aria-label="Font Style">
        <mat-button-toggle value="bold"
            [cdkCopyToClipboard]="appService.CreateResourceUrl(applicationId,ApplicationInfo.annotator_key, ApplicationInfo.app_key)"
            (click)="actionService.toasterInfo('Annotator url copied to clipboard!')">
            <mat-icon>file_copy</mat-icon>
        </mat-button-toggle>
        <mat-button-toggle value="bold"
            (click)="actionService.DownloadFile(appService.CreateResourceUrl(applicationId,ApplicationInfo.annotator_key, ApplicationInfo.app_key))">
            <mat-icon>open_in_new</mat-icon>
        </mat-button-toggle>
    </mat-button-toggle-group>
    <mat-divider style="margin-top: 20px;"></mat-divider>

</div>
<div *ngIf="!ApplicationInfo">
    <app-loading-bar></app-loading-bar>
</div>

<div *ngIf="!!ApplicationInfo">
    <app-appliction-tabs [application]="ApplicationInfo" [applicationId]="applicationId"
        [annotatorKey]="ApplicationInfo.annotator_key">
    </app-appliction-tabs>
</div>
