<div *ngIf="!utterances">
    <h2>Text utterance has been removed!</h2>
</div>

<div *ngIf="!!utterances">
    <p>
        <app-resource-text [isAnnotator]="isAnnotator" [url]="utterances.text_url"></app-resource-text>
    </p>
<mat-divider></mat-divider>
    <p>
        <app-annotation (annotationSave)="SaveAnnotation($event)" [isAnnotator]="isAnnotator" [url]="utterances.annotation_url"></app-annotation>
    </p>
    <mat-divider></mat-divider>
    <p *ngIf="!isAnnotator">
        <mat-form-field class="" style="width: 600px;">
            <mat-label>Shareable URL for Data Annotators</mat-label>
            <input matInput placeholder="Shareable URL for Data Annotators" [readonly]="true" [class.disabled]="true"
                [value]="appService.CreateResourceUrlWithType(applicationId,annotatorKey, 1)" name="url">
        </mat-form-field>
        <mat-button-toggle value="bold"
            [cdkCopyToClipboard]="appService.CreateResourceUrlWithType(applicationId,annotatorKey, 1)"
            (click)="actionService.toasterInfo('Address copied to clipboard!')">
            <mat-icon>file_copy</mat-icon>
        </mat-button-toggle>
    </p>
    <p *ngIf="!isAnnotator">
        <mat-button-toggle-group name="fontStyle" aria-label="Font Style">

            <mat-button-toggle value="bold"
                (click)="actionService.DownloadFile(appService.CreateResourceUrlWithType(applicationId,annotatorKey, 1))">
                <mat-icon>open_in_new</mat-icon>
            </mat-button-toggle>
            <mat-button-toggle value="Download"
                (click)="actionService.DownloadFile(utterances.text_url)">
                <mat-icon>cloud_download</mat-icon> Download
            </mat-button-toggle>
        </mat-button-toggle-group>

    </p>

    <div *ngIf="!isAnnotator" class="full-width">
        <button (click)="RemoveTextUtterances()" mat-stroked-button type="button" color="warn">
            <mat-icon>delete</mat-icon> Delete
        </button>
    </div>
</div>
