<div style="margin: 10px 0px">
    <app-search (search)="onSearch($event)"></app-search>
</div>
<mat-divider></mat-divider>
<mat-accordion *ngIf="!isAnnotator">
    <mat-expansion-panel #tab>
        <mat-expansion-panel-header>
            <mat-panel-title>
                <mat-icon>attach_file</mat-icon> <span style="padding-left: 10px; font-size: 18px;">Add text
                    utterance</span>
            </mat-panel-title>
            <mat-panel-description>

            </mat-panel-description>
        </mat-expansion-panel-header>
        <app-upload (uploadFile)="Reload()" [uploadUrl]="application.text_upload_url"></app-upload>
    </mat-expansion-panel>
</mat-accordion>
<div class="space"></div>
<mat-accordion *ngIf="!!TextUtterances">
    <mat-expansion-panel *ngFor="let utterances of TextUtterances.utterances">
        <mat-expansion-panel-header>
            <mat-panel-title>
                {{utterances.id}}
            </mat-panel-title>
            <mat-panel-description>
            </mat-panel-description>
        </mat-expansion-panel-header>
        <app-text-utterence [isAnnotator]="isAnnotator" [applicationId]="applicationId" [annotatorKey]="annotatorKey"
            [utterances]="utterances"></app-text-utterence>
    </mat-expansion-panel>
</mat-accordion>

<div *ngIf="!TextUtterances && !hasMoreRecord">
    <h2>No data found!</h2>
</div>

<div *ngIf="!TextUtterances && hasMoreRecord">
    <app-loading-bar></app-loading-bar>
</div>

<button style="margin-top: 10px;" *ngIf="hasMoreRecord" (click)="LoadMore()" mat-raised-button>Load more</button>
