<div>
    <h2>Applications</h2>
</div>

<mat-accordion>
    <mat-expansion-panel #tab>
        <mat-expansion-panel-header>
            <mat-panel-title>
                <mat-icon>library_add</mat-icon> <span style="padding-left: 10px; font-size: 18px;">Add application</span>
            </mat-panel-title>
            <mat-panel-description>

            </mat-panel-description>
        </mat-expansion-panel-header>
        <app-new-application (OnNewApp)="OnNewApp(); tab.close()"></app-new-application>
    </mat-expansion-panel>
</mat-accordion>
<div style="margin: 10px 0px">
    <app-search (search)="onSearch($event)"></app-search>
</div>
<mat-divider></mat-divider>
<div *ngIf="!ApplicationList && hasMoreRecord">
    <app-loading-bar></app-loading-bar>
</div>

<div *ngIf="!ApplicationList && !hasMoreRecord">
   <h3>No data found!</h3>
</div>

<div *ngIf="!!ApplicationList">
    <mat-nav-list>
        <ng-container *ngFor="let application of ApplicationList.applications">
            <a mat-list-item [routerLink]="'/application/'+ application._id">
                <mat-icon mat-list-icon>apps</mat-icon>
                <div mat-line>{{application.name}}</div>
                <div mat-line> {{application._id }} </div>
            </a>
            <mat-divider></mat-divider>
        </ng-container>
    </mat-nav-list>
</div>

<button *ngIf="hasMoreRecord" (click)="LoadMoreApp()" mat-raised-button>Load more</button>
