<h2>
    <img _ngcontent-exc-c235="" src="../../../../assets/images/pure_logo.png" style="width: 33px; position: relative; top: 10px; right: 10px;">  COMPRISE
</h2>
<p>
    The COMPRISE project (Cost-effective, Multilingual,
    Privacy-driven voice-enabled Services) is a Research and
    Innovation Action funded by the European Union’s Horizon 2020 programme.
    It aims to develop the next generation of voice interaction technology
    that will be more affordable, inclusive and, above all, secure.

    The COMPRISE Cloud platform is the place where the neutral data and the
    corresponding (manual or automatic) labels are stored.
    The platform allows users to upload, store and manage data
    and labels and train or access large-scale userindependent
    models trained on these data. The platform functionality
    includes secure cloud-based data and model storage, scalable
    and dynamic cloud-based high-performance computing, APIs for
    continuous data upload and occasional model download, and general platform features
    (user interface, authentication, usage analytics, etc.)
    and procedures for data labeling and curation.
</p>
