<form (ngSubmit)="OnAdd()" class="form" [class.disabled]="!EditMode">
<h3 *ngIf="!!errorMessage" style="background-color: #ffbaba;color:#ad0202; padding: 10px 0px">
    {{errorMessage}}
</h3>
    <p>
        <mat-form-field class="">
            <mat-label>Annotator key</mat-label>
            <input matInput placeholder="annotator key" [readonly]="!EditMode" [class.disabled]="!EditMode"
                [(ngModel)]="ApplicationInfo.annotator_key" name="annotator_key">
        </mat-form-field>
        <mat-form-field class="">
            <mat-label>Application key</mat-label>
            <input matInput placeholder="app key" [readonly]="!EditMode" [class.disabled]="!EditMode"
                [(ngModel)]="ApplicationInfo.app_key" name="app_key">
        </mat-form-field>
        <mat-form-field class="">
            <mat-label>Share key</mat-label>
            <input matInput placeholder="share key" [readonly]="!EditMode" [class.disabled]="!EditMode"
                [(ngModel)]="ApplicationInfo.share_key" name="share_key">
        </mat-form-field>
    </p>
    <p>
        <mat-form-field class="">
            <mat-label>Name</mat-label>
            <input matInput placeholder="Name" [readonly]="!EditMode" [class.disabled]="!EditMode"
                [(ngModel)]="ApplicationInfo.name" name="name">
        </mat-form-field>

        <mat-form-field>
            <mat-label>Language</mat-label>
            <input type="text" matInput name="language" [readonly]="!EditMode" [class.disabled]="!EditMode"
                [formControl]="autoCompleteControl" [matAutocomplete]="auto" [(ngModel)]="ApplicationInfo.language">
            <mat-autocomplete #auto="matAutocomplete">
                <mat-option *ngFor="let option of filteredOptions | async" [value]="option.code">
                    {{option.name}} ({{option.code}})
                </mat-option>
            </mat-autocomplete>
        </mat-form-field>
        <mat-form-field class="full-row">
            <mat-label>Description</mat-label>
            <input matInput placeholder="Description" [readonly]="!EditMode" [class.disabled]="!EditMode"
                [(ngModel)]="ApplicationInfo.description" name="description" />
        </mat-form-field>
    </p>
    <p>
        <button *ngIf="EditMode" mat-stroked-button type="submit" color="primary">
            <mat-icon>save</mat-icon> Save
        </button>
        <button *ngIf="!EditMode" mat-stroked-button type="button" color="default">
            <mat-icon>save</mat-icon> Saving...
        </button>
    </p>
</form>
