<mat-accordion *ngIf="!isAnnotator">
    <mat-expansion-panel #tab>
        <mat-expansion-panel-header>
            <mat-panel-title>
                <mat-icon>library_add</mat-icon> <span style="padding-left: 10px; font-size: 18px;">Train new
                    model</span>
            </mat-panel-title>
            <mat-panel-description>
            </mat-panel-description>
        </mat-expansion-panel-header>

        <mat-list>
            <div mat-subheader>Use training data from other applications</div>
            <mat-list-item *ngFor="let models of toTrainModelList">
                <mat-icon mat-list-icon>storage</mat-icon>
                <button (click)="DeleteToTrain(models.app_id)" mat-stroked-button color="primary">
                    <mat-icon>clear</mat-icon>
                </button>
                <div mat-line> {{models.app_id}} </div>
                <div mat-line> {{models.share_key}} </div>
                <mat-divider></mat-divider>
            </mat-list-item>

        </mat-list>

        <form (ngSubmit)="AddToTrain()">
            <mat-form-field style="width:520px" appearance="fill">
                <mat-label>Frequently used applications</mat-label>
                <mat-select (selectionChange)="SelectFavorite($event.value)">
                    <mat-option *ngFor="let favorite of favoriteModels" [value]="favorite">
                        {{favorite.DisplayName}} / {{favorite.ApplicationId}} / {{favorite.SharedKey}}
                    </mat-option>
                </mat-select>
            </mat-form-field>
            <p>
                <mat-form-field class="" [style.width]="'360px'">
                    <mat-label>Application Id</mat-label>
                    <input matInput placeholder="Application key" [(ngModel)]="toTrainModel.app_id" name="app_id">
                </mat-form-field>
            </p>
            <p>
                <mat-form-field class="" [style.width]="'360px'">
                    <mat-label>Share key</mat-label>
                    <input matInput placeholder="app key" [(ngModel)]="toTrainModel.share_key" name="share_key">
                </mat-form-field>
            </p>
            <button mat-stroked-button type="submit" color="default">
                <mat-icon>add</mat-icon> Add training data
            </button>
        </form>


        <form (ngSubmit)="trainNewModel(tab)">
            <p>

                <mat-form-field style="width: 400px">
                    <mat-label>Recipe</mat-label>
                    <mat-select [ngModelOptions]="{standalone: true}" [(ngModel)]="selectedRecipeType"
                        (selectionChange)="SelectRec($event.value)">
                        <mat-option [disable]="!rec.Enabled" *ngFor="let rec of recipeTypes" [value]="rec">
                            {{rec.DisplayName}}
                        </mat-option>
                    </mat-select>
                </mat-form-field>
                <mat-form-field *ngIf="showCustomRecipeInput" class="" [style.width]="'360px'">
                    <mat-label>Custom recipe</mat-label>
                    <input matInput placeholder="Recipe" [(ngModel)]="newModel.recipe" name="recipe">
                </mat-form-field>

            </p>
            <p>
                <mat-checkbox class="full-width" name="latest" [(ngModel)]="newModel.is_mt">Is MT</mat-checkbox>
            </p>
            <button mat-stroked-button type="submit" color="primary">
                <mat-icon>save</mat-icon> Schedule training
            </button>
        </form>
    </mat-expansion-panel>
</mat-accordion>

<div class="space"></div>

<div *ngIf="!!Models && !Models.models.length">
    <h2>No data found!</h2>
</div>

<mat-accordion *ngIf="!!Models">
    <mat-expansion-panel *ngFor="let model of Models.models">
        <mat-expansion-panel-header>
            <mat-panel-title>
                {{model._id}}
            </mat-panel-title>
            <mat-panel-description>
                {{model.created | date:true}}
            </mat-panel-description>
        </mat-expansion-panel-header>
        <app-model [annotatorKey]="annotatorKey" [isAnnotator]="isAnnotator" [application]="application"
            [model]="model"></app-model>
    </mat-expansion-panel>
</mat-accordion>
