<div *ngIf="!model">
    <h2>Model has been removed!</h2>
</div>
<div *ngIf="!!model">
    <form [class.disabled]="!EditMode">
        <mat-grid-list cols="5" rowHeight="100px">
            <mat-grid-tile [colspan]="1" [rowspan]="1">
                <mat-form-field class="full-width">
                    <mat-label>app id</mat-label>
                    <input matInput placeholder="app id" [readonly]="!EditMode" [class.disabled]="!EditMode"
                        [(ngModel)]="model.app_id" name="app_id">
                </mat-form-field>
            </mat-grid-tile>
            <mat-grid-tile [colspan]="1" [rowspan]="1">
                <mat-form-field class="full-width">
                    <mat-label>Id</mat-label>
                    <input matInput placeholder="Id" [readonly]="!EditMode" [class.disabled]="!EditMode"
                        [(ngModel)]="model._id" name="_id">
                </mat-form-field>
            </mat-grid-tile>
        </mat-grid-list>

        <mat-grid-list cols="5" rowHeight="100px">
            <mat-grid-tile [colspan]="1" [rowspan]="1">
                <mat-checkbox class="full-width" name="is_mt" [disabled]="!EditMode" [(ngModel)]="model.is_mt">
                    is mt
                </mat-checkbox>
            </mat-grid-tile>
            <mat-grid-tile [colspan]="1" [rowspan]="1">
                <mat-form-field class="full-width">
                    <mat-label>recipe</mat-label>
                    <input matInput placeholder="recipe" [readonly]="!EditMode" [class.disabled]="!EditMode"
                        [(ngModel)]="model.recipe" name="recipe">
                </mat-form-field>
            </mat-grid-tile>
        </mat-grid-list>

        <mat-grid-list cols="5" rowHeight="100px">
            <mat-grid-tile [colspan]="1" [rowspan]="1">
                <mat-form-field class="full-width">
                    <mat-label>owner id</mat-label>
                    <input matInput placeholder="owner id" [readonly]="!EditMode" [class.disabled]="!EditMode"
                        [(ngModel)]="model.owner_id" name="owner_id">
                </mat-form-field>
            </mat-grid-tile>
            <mat-grid-tile [colspan]="1" [rowspan]="1">
                <mat-form-field class="full-width">
                    <mat-label>type</mat-label>
                    <input matInput placeholder="type" [readonly]="!EditMode" [class.disabled]="!EditMode"
                        [(ngModel)]="model.type" name="type">
                </mat-form-field>
            </mat-grid-tile>
        </mat-grid-list>

        <mat-grid-list cols="5" rowHeight="100px">
            <mat-grid-tile [colspan]="1" [rowspan]="1">
                <mat-form-field class="full-width">
                    <mat-label>created</mat-label>
                    <input matInput placeholder="created" [readonly]="!EditMode" [class.disabled]="!EditMode"
                        [value]=" model.created | date:true" name="created">
                </mat-form-field>
            </mat-grid-tile>
            <mat-grid-tile [colspan]="1" [rowspan]="1">
                <mat-form-field class="full-width">
                    <mat-label>trained</mat-label>
                    <input matInput placeholder="trained" [readonly]="!EditMode" [class.disabled]="!EditMode"
                        [(ngModel)]="model.trained" name="trained">
                </mat-form-field>
            </mat-grid-tile>
        </mat-grid-list>
        <mat-grid-list cols="5" rowHeight="100px">
            <mat-grid-tile [colspan]="1" [rowspan]="1">
                <mat-form-field class="full-width">
                    <mat-label>status</mat-label>
                    <input matInput placeholder="status" [readonly]="!EditMode" [class.disabled]="!EditMode"
                        [(ngModel)]="model.status" name="status">
                </mat-form-field>
            </mat-grid-tile>
            <mat-grid-tile [colspan]="1" [rowspan]="1">
                <mat-checkbox class="full-width" name="latest" [disabled]="!EditMode" [(ngModel)]="model.latest">latest
                </mat-checkbox>
            </mat-grid-tile>
        </mat-grid-list>
        <mat-grid-list cols="5" rowHeight="150px">
            <mat-grid-tile [colspan]="3" [rowspan]="1">
                <div class="full-width">
                    <button *ngIf="model.status == 'training.ok'" (click)="DownloadModel()" mat-stroked-button
                        type="button" color="primary">
                        <mat-icon>cloud_download</mat-icon> Download
                    </button>

                    <button *ngIf="!isAnnotator" (click)="RemoveModel()" style="padding-left:10px" mat-stroked-button
                        type="button" color="warn">
                        <mat-icon>delete</mat-icon> Delete
                    </button>

                    <button *ngIf="model.status == 'training.ok'" (click)="WeaklysPost()" style="padding-left:10px"
                        mat-stroked-button type="button" color="primary">
                        Weakly supervised adaptation
                    </button>
                    <button *ngIf="model.status == 'training.ok'" (click)="RetrainLMPost()" style="padding-left:10px"
                        mat-stroked-button type="button" color="primary">
                        Retrain LM on collected texts
                    </button>
                </div>

            </mat-grid-tile>
        </mat-grid-list>
    </form>
</div>
