<div *ngIf="!!ModelTypes">
    <nav mat-tab-nav-bar>
        <a mat-tab-link *ngFor="let link of ModelTypes.types" (click)="activeLink = link" [active]="activeLink == link">
            {{link}} </a>
    </nav>
</div>
<div *ngIf="!!activeLink">
    <div *ngFor="let modelType of ModelTypes.types">
        <app-model-type [annotatorKey]="annotatorKey" [isAnnotator]="isAnnotator" [application]="application"
            *ngIf="modelType == activeLink" [applicationId]="applicationId" [modelType]="modelType"></app-model-type>
    </div>
</div>
<div *ngIf="!ModelTypes">
    <app-loading-bar></app-loading-bar>
</div>
