<div class="nav-brand" style="
    background: #7b1fa2;
    color: white;
    height: 60px;
    cursor: pointer;
    font-size: 20px;" (click)="Home()">
    <img style="margin-left: 50px;width: 33px;position: relative;top: 10px;"
        src="../../../../assets/images/pure_logo.png" /> COMPRISE
</div>
<div>
    <nav mat-tab-nav-bar>
        <a routerLink="speech" mat-tab-link (click)="GoToSpeech()" [active]="selectedTab == 0">
            <mat-icon class="sidenav-icon">record_voice_over</mat-icon>
            <span class="tab-header">Speech data</span>
        </a>
        <a routerLink="text" mat-tab-link (click)="GoToText()" [active]="selectedTab == 1">
            <mat-icon class="sidenav-icon">notes</mat-icon>
            <span class="tab-header">Text data</span>
        </a>
        <a routerLink="model" mat-tab-link (click)="GoToModel()" [active]="selectedTab == 2">
            <mat-icon class="sidenav-icon">storage</mat-icon>
            <span class="tab-header">Models</span>
        </a>
    </nav>
    <router-outlet></router-outlet>
</div>
