<div id="sidebar">
    <mat-nav-list>
        <a mat-list-item [class.active-url]="IsHome" [routerLink]="['/dashboard']">
            <mat-icon class="sidenav-icon">home</mat-icon> {{ 'Home'  }}
        </a>
        <a mat-list-item [class.active-url]="IsApplication" [routerLink]="['/dashboard/applications']">
            <mat-icon class="sidenav-icon">apps</mat-icon> {{ 'Applications'  }}
        </a>
        <a mat-list-item [class.active-url]="IsSwagger" [routerLink]="['/dashboard/api-documentation']">
            <mat-icon class="sidenav-icon">note</mat-icon> {{ 'API documentation'  }}
        </a>
        <!-- <a mat-list-item [routerLinkActive]="'active'" [routerLink]="['/dashboard/speech']">
            <mat-icon class="sidenav-icon">headset</mat-icon> {{ 'Speech data'  }}
        </a>
        <a mat-list-item [routerLinkActive]="'active'" [routerLink]="['/text']">
            <mat-icon class="sidenav-icon">text_fields</mat-icon> {{ 'Text data'  }}
        </a>
        <a mat-list-item [routerLinkActive]="'active'" [routerLink]="['/models']">
            <mat-icon class="sidenav-icon">storage</mat-icon> {{ 'Models'  }}
        </a> -->
    </mat-nav-list>
</div>
