<div style="margin: 10px 0px">
    <app-search (search)="onSearch($event)"></app-search>
</div>
<mat-divider></mat-divider>

<mat-accordion *ngIf="!isAnnotator">
    <mat-expansion-panel #tab>
        <mat-expansion-panel-header>
            <mat-panel-title>
                <mat-icon>attach_file</mat-icon> <span style="padding-left: 10px; font-size: 18px;">Add speech
                    file</span>
            </mat-panel-title>
            <mat-panel-description>

            </mat-panel-description>
        </mat-expansion-panel-header>
        <app-upload (uploadFile)="Reload()" [uploadUrl]="application.speech_upload_url"></app-upload>
    </mat-expansion-panel>
</mat-accordion>
<div class="space"></div>
<div *ngIf="!!SpeechData">
    <div *ngFor="let speech of SpeechData.segments">
        <mat-card>
            <app-speech-segment [isAnnotator]="isAnnotator" [applicationId]="applicationId"
                [annotatorKey]="annotatorKey" [segment]="speech"></app-speech-segment>
        </mat-card>
    </div>
</div>

<div *ngIf="!SpeechData && !hasMoreRecord">
    <h2>No data found!</h2>
</div>

<div *ngIf="!SpeechData && hasMoreRecord">
    <app-loading-bar></app-loading-bar>
</div>

<button style="margin-top: 10px;" *ngIf="hasMoreRecord" (click)="LoadMore()" mat-raised-button>Load more</button>
