<div *ngIf="!segment">
    <mat-card>
        <h2>Speech segment has been removed!</h2>
    </mat-card>
</div>
<div *ngIf="!!segment">
    <div *ngIf="!!audioFileUrl">
        <app-resource-speech [audioUrl]="audioFileUrl"> </app-resource-speech>
    </div>

    <div *ngIf="!audioFileUrl">
        <mat-card style="background: rgba(0,0,0,.02);padding: 22px;">
            <mat-progress-bar mode="buffer"></mat-progress-bar>
        </mat-card>
    </div>

    <mat-accordion>
        <mat-expansion-panel>
            <mat-expansion-panel-header>
                <mat-panel-title>
                    {{segment.id}}
                </mat-panel-title>
                <mat-panel-description>

                </mat-panel-description>
            </mat-expansion-panel-header>

            <p>
                <app-annotation (annotationSave)="SaveAnnotation($event)" [isAnnotator]="isAnnotator"
                    [url]="segment.annotation_url"></app-annotation>
            </p>
            <mat-divider></mat-divider>

            <p *ngIf="!isAnnotator">
                <mat-form-field style="width: 600px;" class="">
                    <mat-label>Shareable URL for Data Annotators</mat-label>
                    <input matInput placeholder="Shareable URL for Data Annotators" [readonly]="true" [class.disabled]="true"
                        [value]="applicationService.CreateResourceUrlWithType(applicationId,annotatorKey, 0)"
                        name="url">
                </mat-form-field>
                <mat-button-toggle value="bold"
                    [cdkCopyToClipboard]="applicationService.CreateResourceUrlWithType(applicationId,annotatorKey, 0)"
                    (click)="actionService.toasterInfo('Annotator url copied to clipboard!')">
                    <mat-icon>file_copy</mat-icon>
                </mat-button-toggle>
            </p>
            <p *ngIf="!isAnnotator">
                <mat-button-toggle-group name="fontStyle" aria-label="Font Style">
                    <mat-button-toggle value="bold"
                        (click)="actionService.DownloadFile(applicationService.CreateResourceUrlWithType(applicationId,annotatorKey, 0))">
                        <mat-icon>open_in_new</mat-icon>
                    </mat-button-toggle>
                    <mat-button-toggle value="Download" (click)="actionService.DownloadFile(segment.audio_url)">
                        <mat-icon>cloud_download</mat-icon> Download
                    </mat-button-toggle>
                </mat-button-toggle-group>
            </p>
            <div *ngIf="!isAnnotator" class="full-width">
                <button (click)="RemoveSpeechSegment()" mat-stroked-button type="button" color="warn">
                    <mat-icon>delete</mat-icon> Delete
                </button>
            </div>
        </mat-expansion-panel>
    </mat-accordion>

</div>
