<div class="login-page">
    <div class="content">
        <!-- <h1 class="app-name">Sb Admin Material</h1> -->
        <span class="login-form" fxFlex  >
            <!-- <div class="text-center">
                <h2 class="app-name">Sb Admin Material</h2>
            </div>
            <div fxFlex  fxlayout="row" fxlayout.lt-md="column">
                <div fxFlexFill>
                    <mat-form-field class="w-100">
                        <input matInput placeholder="Email">
                    </mat-form-field>
                </div>
            </div>-->
            <div fxFlex  fxLayout="row" fxLayout.lt-md="column">
                <div fxFlexFill class="text-center">

                       <img src="assets/images/logo.png" />

                </div>
            </div>
             <!-- <div fxFlex  fxLayout="row" fxLayout.lt-md="column" style="margin: 20px 0 30px 0">
                <div fxFlex>
                    <mat-checkbox color="primary">Remember Me</mat-checkbox>
                </div>
                <div fxFlex  fxLayoutAlign="end">
                    <a href="javascript:void(0)">Forget Password</a>
                </div>
            </div> -->
            <div fxFlex  fxLayout="row" fxLayout.lt-md="column">
                <div *ngIf="!loading" fxFlexFill>
                    <button  mat-raised-button color="primary" class="w-100" (click)="onLogin()">Log in or Sign Up</button>
                </div>

                <!-- <div class="auth-action-btn">
                    <button mat-raised-button color="primary" class="w-100" style="width:90%" (click)="onLogin()">Login</button>
                </div>
                <div class="auth-action-btn">
                    <a href="https://comprisedevb2c.b2clogin.com/comprisedevb2c.onmicrosoft.com/B2C_1_default/api/CombinedSigninAndSignup/unified?local=signup&csrf_token=TEZUaWhOUUx3elQ3aUR4RzB5M29KbDFDWktXdUdudUpCVUNNQ1NsUlpxSUEvNjA5VjVqdEl4VzRacFJlYmZNNFI4ZVV6alVHeXBiTnczRVNRUkxCdkE9PTsyMDIwLTA3LTEzVDA3OjQ1OjQ3LjE5MzMxNTRaO0R1eWROUlV6ektGYzRsemxzZDlrVHc9PTt7Ik9yY2hlc3RyYXRpb25TdGVwIjoxfQ==&tx=StateProperties=eyJUSUQiOiJkNTNlZjljOS03NDUyLTRmZmItODNjMS1iOWMwZTkwOTRiMDMifQ&p=B2C_1_default" mat-raised-button color="primary" class="w-100" style="width:90%">Sign up</a>
                </div> -->
            </div>
        </span>
    </div>
</div>
