<form (ngSubmit)="onSearch()">
    <mat-form-field style="width: 300px;">
      <mat-label>Search</mat-label>
      <input type="text" matInput [(ngModel)]="value" name="search-value" placeholder="Name or description">
     <mat-icon style="cursor: pointer;" (click)="onSearch()" matSuffix>search</mat-icon>
    </mat-form-field>
</form>
