<div>
    <div *ngIf="!uploading">
        <div *ngIf="error">
            {{ error.message }}
        </div>
        <div *ngIf="uploadResponse.status === 'error'">
            {{ uploadResponse.message }}
        </div>

        <form [formGroup]="form" (ngSubmit)="onSubmit()">

            <input color="primary" type="file" name="avatar" (change)="onFileChange($event)" />
            <button mat-button color="primary" type="submit">Upload</button>

        </form>
    </div>
    <div *ngIf="!!uploading">
        <mat-progress-bar mode="indeterminate"></mat-progress-bar>
    </div>
</div>
<div *ngIf="!!uploaded">
    <h3>
        File has been successfully uploaded!
    </h3>
</div>
