html,
body {
    height: 100%;
    margin: 0;
    font-family: 'Fontil Sans';
}

.main-container {
    position: absolute;
    top: 64px;
    left: 250px;
    right: 0;
    bottom: auto;
    padding: 20px;
}

.mb-20 {
    margin-bottom: 20px;
}
