@import "material";
@import "main";
@import "utils";
@import "responsive";

.main-container .mat-list-base .mat-subheader {
    color: #999999;
}

.main-container .mat-list-base .mat-list-item {
    color: #6b6b6b;
}

.mat-divider,
.mat-select-panel {
    border-top-color: #c4c4c4;
}

.mat-form-field-appearance-fill .mat-form-field-underline::before {
    background-color: lightgray;
}

.mat-select-panel {
    background: white;
}
.mat-form-field-label,
mat-select,
.mat-select-value,
.mat-select-arrow {
    color: #6b6b6b;
}

.main-container {
    color: #6b6b6b;
    overflow-y: auto;
}

.toastr {
    .mat-button {
        font-weight: bold;
    }
}

.error-toastr {
    background-color: #ff4557;
    color: white;
}

.warn-toastr {
    background-color: #ffb45a;
    color: white;
}

.info-toastr {
    background-color: #39b887;
    color: white;
}

.query-loader-bar {
    position: absolute;
    z-index: 9999;
    width: 100%;
    .mat-progress-bar-buffer {
        background-color: #c54ff7;
    }
}

.full-width {
    width: 100%;
}

.mat-form-field-appearance-legacy .mat-form-field-underline {
    background-color: lightgray;
}

.mat-form-field-appearance-legacy .mat-form-field-label {
    color: gray;
}

.mat-form-field {
    padding: 5px;
}

.mat-tab-label,
.mat-tab-link {
    color: #6b6b6b;
    .mat-tab-label-active {
        color: #4b4b4b !important;
    }
}

.mat-stroked-button:not([disabled]) {
    border-color: lightgray;
}

form.disabled {
    opacity: 0.7;

    mat-form-field {
        cursor: default;
    }
}

input.disabled {
    cursor: default;
}

mat-progress-bar .mat-progress-bar-buffer {
    background-color: white !important;
}

.full-row {
    width: 370px;
}

.tab-header {
    font-size: 18px;
    margin-left: 10px;
}

.mat-card {
    background: white;
    color: gray;
    border-radius: 0px !important;
}
app-speech {
    .mat-card {
        padding-left: 0px;
    }
}

// audio player
.mat-slider-track-background {
    background-color: white;
}

.mat-expansion-panel-header-title {
    color: gray;
}

.mat-expansion-panel {
    background: rgba(0, 0, 0, 0.02);
    color: gray;
}

.mat-expansion-panel-header-description,
.mat-expansion-indicator::after {
    color: gray;
}

.mat-checkbox-indeterminate.mat-accent .mat-checkbox-background,
.mat-checkbox-checked.mat-accent .mat-checkbox-background {
    background-color: white;
}

.mat-checkbox-frame {
    background-color: white !important;
    border-color: gray;
    border-width: 2px;
    border-style: solid;
}

.mat-checkbox-disabled .mat-checkbox-label {
    color: gray;
}

.mat-dialog-container {
    background: white;
    color: gray;
}
.mat-progress-bar-background {
    fill: lightgray;
}

.mat-flat-button,
.mat-raised-button,
.mat-fab,
.mat-mini-fab {
    color: gray;
    background-color: white;
}

.mat-button-toggle-appearance-standard {
    color: gray;
    background: white;
}

.mat-button-toggle-checked.mat-button-toggle-appearance-standard {
    color: rgb(168, 168, 168);
    background: white;
}

app-speech {
    mat-card {
        padding: 10px 0 0 0 !important;
    }
}

.space {
    margin-top: 10px;
}

.mat-autocomplete-panel {
    background: white;
    color: gray;
}

.mat-option {
    color: gray;
}

.auth-action-btn {
    width: 50%;
    padding: 10px 0;
}

.mat-option.mat-active {
    background: gray;
    color: white;
}

.mat-option:hover:not(.mat-option-disabled),
.mat-option:focus:not(.mat-option-disabled) {
    background: gray;
    color: white;
}
