<mat-toolbar color="primary" class="fix-nav">
    <button type="button" mat-icon-button class="visible-md" (click)="toggleSidebar()">
        <mat-icon aria-label="Side nav toggle icon">menu</mat-icon>
    </button>
    <div class="nav-brand">
        <img style="width: 33px;
     position: relative;
     top: 10px;
     right: 10px;" src="../../../../assets/images/pure_logo.png" /> COMPRISE
    </div>
    <span class="nav-spacer"></span>
    <button *ngIf="IsAuthorized" class="hidden-sm" mat-icon-button >
        <mat-icon>account_circle</mat-icon>
    </button>
    <h4 *ngIf="IsAuthorized"> {{UserName}}</h4>
    <mat-menu #profile="matMenu">
        <!-- <button mat-menu-item>
            <mat-icon>person</mat-icon>
            <span>{{ 'Profile' }}</span>
        </button>
        <button mat-menu-item>
            <mat-icon>settings</mat-icon>
            <span>{{ 'Settings' }}</span>
        </button> -->
    </mat-menu>
    <button *ngIf="IsAuthorized" mat-icon-button (click)="onLoggedout()">
        <mat-icon>exit_to_app</mat-icon>
    </button>
    <button *ngIf="!IsAuthorized" mat-icon-button (click)="Login()">
         <mat-icon>account_circle</mat-icon>
    </button>
</mat-toolbar>
