<form class="">
    <mat-form-field style="width: 500px" class="">
        <mat-label>Annotation:</mat-label>
        <textarea matInput [(ngModel)]="annotation" name="annotation" placeholder="Annotation file content"></textarea>
    </mat-form-field>
</form>

<button  mat-stroked-button (click)="Save()" color="primary">
    <mat-icon>save</mat-icon> Save
</button>
